.wrapper {
  flex-grow: 1;
  background: linear-gradient(45deg, #8500ff, #5acaff);
  text-align: center;
  padding-bottom: 1em;
}
.wrapper h2 {
  margin: 40px 0;
  font-size: 2.5rem;
}
.wrapper img {
  width: 600px;
  max-width: 75%;
}
.wrapper h4 {
  margin: 40px 0 20px;
  font-size: 1.2rem;
}
.main-btn {
  padding: 15px;
  background-color: #c70570 !important;
  color: #fff;
  border: none !important;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .wrapper h2 {
    font-size: 2rem;
  }
  .wrapper h4 {
    font-size: 1rem;
  }
}
