.forgot-password {
  /* color: blue; */
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
.update-password {
  display: flex;
  justify-content: space-between;
}
.label-checkbox {
  padding-left: 0.2em;
}
.txt-forgpt-password {
  text-decoration: none;
}
.component-update-password {
  flex: 1;
  min-width: 100% !important;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(111, 186, 112);
  padding: 1em;
}
.containe-reset-password {
  width: 50%;
  margin: 0 auto;
}
.text-in-forgot-password {
  text-align: center;
}
.btn-reset {
  margin: 0 auto;
  margin-top: 1em;
  width: 100%;
}
.user-reset {
  padding-bottom: 1em;
}
.psw-reset {
  padding-bottom: 0.5em;
}
.meesege-sucssed-failled {
  padding-top: 1em;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 780px) {
  .containe-reset-password {
    width: 100%;
  }
}
