.div-visibility {
  background-color: #fff;
  fill: #fff;
  position: absolute;
  z-index: 3;
  margin-top: 0.5em;
  border: 2px solid rgb(37, 168, 32);
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
  flex-direction: column;
  border-radius: 10%;
  /* padding-right: 1em; */
}
.button-div {
  display: flex;
  /* border: 3px solid red; */
  min-width: 100%;
  /* padding-left: 0.5em; */
  align-items: stretch;
  flex-grow: 1;
  padding: 0.6em;
}
.button-from-icon {
  /* display: block; */
  width: 100%;
  height: 100%;
  text-decoration: none;
  background: 0 0;
  border: none;
  text-align: left;
  cursor: pointer;
}
.icons {
  display: flex;
  gap: 1em;
  font-size: 1.89em;
  align-items: center;
  justify-content: center;
  color: green;
}
.svg-img {
  /* background-color: #55acee; */
  height: 25px;
}
.svg-img :hover {
  cursor: pointer;
  fill: gray;
}
.js-avatar {
  /* styling the icon person */
  /* border: 2px solid red; */
  max-width: 22px;
  max-height: 22px;
  min-width: 22px;
  min-height: 22px;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fff;
}
.icon-person {
  display: flex;
  /* margin-right: 6em; */
  align-items: center;
  justify-content: center;
  color: #fff;
}
.svg-down {
  /* styling the icon svg v */
  height: 25px;
  fill: rgb(71, 67, 67);
}
.avatar-person :hover {
  /* styling the icon person avatar */
  background: #5e5e5e;
  fill: #7c6f6f;
}

.link {
  text-decoration: none;
}
.btn-close{
  cursor: pointer !important;
}
.close{
  /* styling close button */
  float: left;
}
@media (max-width: 600px) {
  .icon-person {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
